header {
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
}

header nav  {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

#hero {
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 30px;
}